body,h2{
    font-style:italic;
    font-weight:bold; 
    font-family:'Cormorant Garamond', serif;}

h2{
    font-size:45px;
    color:khaki;
}

p{
    font-size:35px;
    color:aqua;
}
  /*headet+r*/  
.header{
    display:flex;
    align-items: center;
    
    background-color: black;

}   

.header img{
    margin:20px;
    width:50px;
    height:30px;
    
}

.header  a{
    margin-left:14%;
    color:antiquewhite;
    padding:20px;
    font-style:italic;
    font-weight:bold; 
    font-family:'Cormorant Garamond', serif;
    font-size: 25px;
} 

/*About*/

.about{
   margin:10px;
  border:2px solid black;
}

.about .heading{
    text-align: center;
    text-decoration: underline;

}

.about img{
    width:300px;
    height:300px;
    border: 5px solid burlywood;
    border-radius:50%;
    margin-left: 40%;;
}

.about img:hover{
    box-shadow: 0 1rem 2rem rgba(0,0,0,.4);
}

.about p{
    padding:0  15%;
    text-align: center;
}
/*skill*/

.skills .heading{
        text-align: center;
        text-decoration: underline;
}

.skills{
    margin:25px;
    padding: 0 40%;;
}
.skills label{
    font-size:50 px;
}

.skills #file{
    font-size:35px;
    display: flex;
    align-items: center;
   
}
